@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "History";
}
<body>
    <div class="row">
        <table class="col-12 col-sm-12 col-md-12 border" border="1" style="margin-top: 40px;">
            <tr class="">
                <th style="width : 5%" class="text-center bg-info">STT</th>
                <th style="width : 25%" class="text-center bg-info">Địa điểm</th>
                <th style="width : 20%" class="text-center bg-info">Gói thành viên</th>
                <th style="width : 30%" class="text-center bg-info">Khách sạn</th>
                <th style="width : 15%" class="text-center bg-info">Ngày đi</th>
                <th style="width : 5%" class="text-center bg-info">...</th>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center" onclick="ShowOption()">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">2</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
            <tr>
                <td class="text-center">1</td>
                <td>Nha Trang</td>
                <td>Cặp đôi</td>
                <td>Khách sạn Nha Trang 1</td>
                <td>12/08/2021</td>
                <td class="text-center">...</td>
            </tr>
        </table>
    </div>
</body>
<script>
    function ShowOption() {
        alert("Ban chon option");
    }
</script>