@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Tour Detail";
}
<body>
    <div class="row" style="margin-top: 20px;">
        <div class="media col-12 col-sm-12 col-md-12 border" style="margin-left: 10px; margin-right: 10px;">
            <img class="mr-3 rounded order-0 col-6 col-sm-6 col-md-6"
                 src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg">
            <div class="media-body col-6" style="margin-top: 40px;">
                <div class="row">
                    <h1 class="mt-0 text-info font-italic col-12 col-sm-12 col-md-12">
                        NHA TRANG</h5>
                        <h3 class="mt-0 text-info font-italic col-12 col-sm-12 col-md-12">ĐỊA ĐIỂM DU LỊCH NỔI TIẾNG </h3>
                        <h4 class="mt-0 text-info font-italic col-12 col-sm-12 col-md-12">
                            Giới thiệu về du lịch Nha Trang - thành phố biển
                            miền Trung
                            không chỉ đi vào thơ,
                            hoạ mà còn “được lòng” du khách với những gì đẹp nhất của một vùng duyên hải.
                            Nha Trang, hòn ngọc quý của tỉnh Khánh Hòa luôn là một điểm sáng trên bản đồ du lịch Việt,
                            thu
                            hút đông đảo du khách trong nước và quốc tế.
                        </h4>
                        <div class="col-10 col-sm-10 col-md-10" style="padding-top: 50px;">
                            <label for="" class="font-italic text-info">Lựa chọn thời gian</label>
                            <input type="datetime-local" class="col-12 col-sm-12 col-md-12 rounded border-info text-info" style="height:60px;">
                        </div>
                        <div class="col-10 col-sm-10 col-md-10" style="padding-top: 10px;">
                            <label for="" class="font-italic text-info">Lựa chọn gói thành viên</label>
                            <select name="" id="" class="col-12 col-sm-12 col-md-12 rounded border-info text-info" style="height:60px;">
                                <option value="">NHA TRANG</option>
                                <option value="">KHÁNH HÒA</option>
                                <option value="">ĐÀ NẴNG</option>
                                <option value="">HÀ NỘI</option>
                                <option value="">CAO BẰNG</option>
                                <option value="">HẢI PHÒNG</option>
                                <option value="">TP. HỒ CHÍ MINH</option>
                            </select>
                        </div>
                        <div class="col-10 col-sm-10 col-md-10" style="padding-top: 10px;">
                            <label for="" class="font-italic text-info">Lựa chọn khách sạn</label>
                            <select name="" id="" class="col-12 col-sm-12 col-md-12 rounded border-info text-info" style="height:60px;">
                                <option value="">NHA TRANG</option>
                                <option value="">KHÁNH HÒA</option>
                                <option value="">ĐÀ NẴNG</option>
                                <option value="">HÀ NỘI</option>
                                <option value="">CAO BẰNG</option>
                                <option value="">HẢI PHÒNG</option>
                                <option value="">TP. HỒ CHÍ MINH</option>
                            </select>
                        </div>
                </div>
                <div class="row" style="margin-top: 50px;">
                    <button style="height:60px; width: 50%;" class="btn-outline-info rounded col-10 col-sm-10 col-md-10">Đặt lịch</button>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-12 col-sm-12 col-md-12 text-info font-italic text-center"
             style="margin-bottom: 20px; font-size: 30px; margin-top: 40px;">
            CÁC TOUR
            DU LỊCH LIÊN QUAN
        </div>
        <div class="card-deck col-12 col-sm-12 col-md-12">
            <div class="card col-3 col-sm-3 col-md-3 text-info">
                <img class="card-img" style="width: 80%; height: 60%; margin-left: 10%;"
                     src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-subtitle">Ảnh 4K - Đây là sử dụng tiêu đề phụ</h5>
                    <p class="card-text">Đây là phần nội dung của Card - Thiết lập màu chữ cho card</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card col-3 col-sm-3 col-md-3 text-info">
                <img class="card-img" style="width: 80%; height: 60%; margin-left: 10%;"
                     src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-subtitle">Ảnh 4K - Đây là sử dụng tiêu đề phụ</h5>
                    <p class="card-text">Đây là phần nội dung của Card - Thiết lập màu chữ cho card</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card col-3 col-sm-3 col-md-3 text-info">
                <img class="card-img" style="width: 80%; height: 60%; margin-left: 10%;"
                     src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-subtitle">Ảnh 4K - Đây là sử dụng tiêu đề phụ</h5>
                    <p class="card-text">Đây là phần nội dung của Card - Thiết lập màu chữ cho card</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            <div class="card col-3 col-sm-3 col-md-3 text-info">
                <img class="card-img" style="width: 80%; height: 60%; margin-left: 10%;"
                     src="https://vapa.vn/wp-content/uploads/2022/12/anh-3d-thien-nhien-010.jpg" alt="">
                <div class="card-body">
                    <h5 class="card-subtitle">Ảnh 4K - Đây là sử dụng tiêu đề phụ</h5>
                    <p class="card-text">Đây là phần nội dung của Card - Thiết lập màu chữ cho card</p>
                    <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
        </div>
    </div>
</body>
